* {
	margin: 0;
	padding: 0;
	box-sizing: border-box;
}

body {
	min-height: 100vh;
	background: url(/Navbar_Footer/img/inicio.jpg) no-repeat fixed;
	background-color: #b6aff0;
	background-size: auto 100%;
	background-position: center;
}

.header {
	position: fixed;
	top: 0;
	left: 0;
	width: 100%;
	padding: 0.5rem 3%;
	display: flex;
	justify-content: space-between;
	align-items: center;
	z-index: 1000;
}

.header::before {
	content: "";
	position: absolute;
	top: 0;
	left: 0;
	width: 100%;
	height: 100%;
	background-color: rgba(0, 0, 0, 0.5);
	backdrop-filter: blur(50px);
	z-index: -1;
}

.navbar a {
	font-size: 1.15rem;
	color: #fff;
	text-decoration: none;
	font-weight: 500;
	margin: 1.5rem;
}

.user i {
	position: relative;
	color: #fff;
	margin-left: 2.5rem;
	font-size: large;
}

.menu {
	position: absolute;
	right: 5%;
	font-size: 2.8rem;
	color: #fff;
	cursor: pointer;
	display: none;
}

/* BREAKPOINTS */
@media (max-width: 992px) {
	.header {
		padding: 0rem 5%;
	}
	.navbar a {
		font-size: 1rem;
		margin: 1rem;
	}
	.user i {
		color: #fff;
		margin-left: 1rem;
		font-size: large;
	}
}

@media (max-width: 768px) {
	.menu {
		display: inline-flex;
	}

	#close-icon {
		display: none;
	}
	.navbar {
		position: absolute;
		top: 100%;
		left: 0;
		width: 100%;
		height: 17.7rem;
		background-color: rgba(0, 0, 0, 0.1);
		backdrop-filter: blur(50px);
		box-shadow: 0.5rem 1rem rgba(0, 0, 0, 0.1);
	}

	.navbar a {
		display: block;
		font-size: 1.1rem;
		margin: 1.5rem 0;
		text-align: center;
	}
	.user {
		display: block;
		font-size: x-large;
		text-align: center;
	}
}
