@import url("https://fonts.googleapis.com/css2?family=Poppins:ital,wght@0,400;0,500;0,900;1,800&display=swap");
/* ESTILOS GLOBALES */
* {
	margin: 0;
	padding: 0;
	box-sizing: border-box;
}
::-webkit-scrollbar {
	display: none;
}

body {
	font-family: "Poppins", sans-serif;
	background: #fff;
}

.btn_ingresar {
	text-decoration: none;
	color: #ff8080;
	background: #000;
	padding: 20px 30px;
	border-radius: 7px;
	margin: 10px 0;
	position: absolute;
	transform: translate(-50%, -50%);
	-webkit-transform: translate(-50%, -50%);
	-moz-transform: translate(-50%, -50%);
	-ms-transform: translate(-50%, -50%);
	-o-transform: translate(-50%, -50%);
	-webkit-border-radius: 7px;
	-moz-border-radius: 7px;
	-ms-border-radius: 7px;
	-o-border-radius: 7px;
}
.btn_registrarse {
	top: 93%;
	left: 50%;
}
