@import url("https://fonts.googleapis.com/css2?family=Roboto:ital,wght@0,100;0,300;0,400;0,500;0,700;0,900;1,100;1,300;1,400;1,500;1,700;1,900&display=swap");

* {
    margin: 0;
    width: 100%;
    box-sizing: border-box;
}

.container-cards {
    margin-top: 18%;
}

p {
    font-family: 'Roboto', sans-serif;
    font-size: 12px;
    line-height: 1rem;
    margin-bottom: 0;
}

.container-cards h2 {
    font-size: 1rem;
    font-weight: 400;
    text-align: center;
    margin: 5% 0;
}

.cards-group {
    display: grid;
    grid-template-columns: repeat(2, 1fr);
    width: 95%;
    margin: auto;
    gap: 5px;
}

.card {
    width: 98%;
    height: 100%;
    margin: auto;
    margin-bottom: 5%;
    border: 3px solid #b6aff0;
    border-radius: 20px;
    background-color: #f1efef;
    box-shadow: 0px 1px 15px #b8b7b7;
}

.card-principal {
    position: relative;
}

.name-box {
    display: flex;
    position: absolute;
    top: 3%;
    left: 3%;
    align-items: center;
    width: 44%;
    height: 12%;
    padding-bottom: 5%;
    background-color: #b6aff0;
    color: #000000;
    border-radius: 15px;
}

.card-img {
    object-fit: cover;
    width: 100%;
    height: 180px;
    border-radius: 18px 18px 0 0;
    cursor: none;
}

.card-img:hover {
    opacity: 0.6;
}

.card-title {
    text-align: center;
    padding-top: 5%;
    font-family: "Oswald", sans-serif;
    font-weight: 900;
    font-size: 1rem;
}

.card-text-lg {
    display: flex;
    flex-direction: column;
    padding-left: 10%;
    padding-top: 5%;
}

.card-text-lg p.raza,
p.tamanio,
p.color {
    display: none;
}

.profile-icons,
.card-button {
    display: none;
}

.container-btn-results {
    display: flex;
    margin: 5% 0;
}

.btn-results {
    font-family: 'Oswald', sans-serif;
    font-size: 1rem;
    margin: 0 auto;
    background: #B6AFF0;
    border: none;
    border-radius: 12px;
    color: white;
    width: 30%;
    height: 30px;
    padding-bottom: 2%;
    cursor: pointer;
}

.btn-results:hover {
    background: white;
    color: black;
    border: 2px solid #b6aff0;
}

@media screen and (max-width: 400px) {
    .cards-group {
        display: grid;
        grid-template-columns: 1fr;
    }

    .card {
        height: 270px;
    }

    .name-box {
        width: 32%;
        height: 14%;
        padding-bottom: 3%;
    }

}

@media screen and (min-width: 768px) {

    .container-cards h2 {
        font-size: 1.5rem;
    }

    .cards-group {
        display: flex;
        flex-wrap: wrap;
    }

    .card {
        display: flex;
        width: 48%;
        height: 230px;
        margin-bottom: 3%;
    }

    .name-box {
        width: 45%;
        height: 12%;
    }

    .card-body-info {
        display: flex;
        flex-direction: row-reverse;
        height: 130px;
        margin-top: 20px;
    }

    .profile-icons {
        display: flex;
        flex: 1;
        flex-direction: column;
        justify-content: start;
    }

    .material-symbols-outlined {
        font-size: 18px;
    }

    .card-text-lg {
        flex: 3;
        margin: 22px 0;
    }

    .card-text-lg p {
        display: block;
        line-height: 20px;
    }

    .card-text.edad {
        order: 1;
    }

    .card-text.sexo {
        order: 2;
    }

    .card-text.tamanio {
        order: 3;
    }

    .card-text.ubicacion {
        order: 4;
    }

    .card-text-lg p.raza,
    p.color {
        display: none;
    }

    .card-img {
        width: 100%;
        height: 225.8px;
        padding: 0;
        object-fit: cover;
        border-radius: 18px 0 0 18px;
        cursor: pointer;
    }

    .card-button {
        display: block;
        margin-right: 20px;
    }

    .btnProfile {
        display: flex;
        background: #b6aff0;
        color: white;
        font-family: 'Oswald', sans-serif;
        font-size: 1.1rem;
        text-decoration: none;
        text-align: center;
        width: 70%;
        height: 30px;
        border: none;
        border-radius: 15px;
        margin: 15% 0 0 20%;
        padding: 1% 0 0 18%;
    }

    .btnProfile:hover {
        background: white;
        border: 2px solid #b6aff0;
        color: black;
    }

    .container-btn-results {
        display: flex;
        justify-content: center;
    }

    .btn-results {
        width: 25%;
        height: 35px;
        font-size: 20px;
        border-radius: 20px;
    }
}

@media screen and (min-width: 1024px) {
    .container-cards {
        margin-top: 12%;
    }

    .card {
        margin: auto;
        margin-bottom: 1%;
    }

    .profile-icons {
        flex-direction: row;
        flex: 1.5;
        margin-right: 4%;
    }

    .material-symbols-outlined {
        font-size: 22px;
    }

    .card-button {
        padding-left: 25%;
    }
}

@media screen and (min-width: 1440px) {
    .container-cards {
        margin-top: 8%;
    }

    .cards-group {
        margin: auto;
        gap: 20px;
    }

    .card {
        width: 49%;
        height: 300px;
        margin: auto;
        margin-left: 0;
        margin-bottom: 20px;
    }

    .card-img {
        height: 295px;
    }

    .card-text-lg {
        line-height: 2;
    }
    .card-text-lg p {
        font-size: 14px;
    }

    .material-symbols-outlined {
        font-size: 24px;
    }

    .btnProfile {
        width: 55%;
        height: 35px;
        margin: 32% 0% 0 36%;
        padding-left: 17%;
    }

    .btn-results {
        font-size: 1.5rem;
        border-radius: 20px;
        
        width: 20%;
        height: 45px;
        padding-bottom: 2%;
    }
}