@import url("https://fonts.googleapis.com/css2?family=Oswald:wght@700&family=Roboto&display=swap");
/* ESTILOS GLOBALES */
* {
	margin: 0;
	padding: 0;
	box-sizing: border-box;
	font-family: "Roboto", sans-serif;
}

::-webkit-scrollbar {
	display: none;
}

.header {
	position: fixed;
	top: 0;
	left: 0;
	height: 80px;
	width: 100%;
	padding: 5px 5%;
	display: flex;
	justify-content: space-between;
	align-items: center;
	z-index: 1000;
}

.header::before {
	content: "";
	position: absolute;
	top: 0;
	left: 0;
	width: 100%;
	height: 100%;
	background-color: #b6aff0;
	backdrop-filter: blur(50px);
	z-index: -1;
}

.header::after {
	content: "";
	position: absolute;
	top: 0;
	left: -100%;
	width: 100%;
	height: 100%;
	background: linear-gradient(90deg, transparent, #b7b4d0e3, transparent);
	transition: 1s;
	-webkit-transition: 1s;
	-moz-transition: 1s;
	-ms-transition: 1s;
	-o-transition: 1s;
}

.header:hover::after {
	left: 100%;
}

.social-link:hover,
.item-Txt:hover,
.enviar:hover,
.navbar a:hover,
#icon_log:hover {
	color: #f4f4f5;
}

/* NAVBAR */

.logo {
	width: 75px;
	height: 75px;
}

.navbar a {
	font-size: 1rem;
	color: #0e0d0d;
	text-decoration: none;
	font-weight: 500;
	margin: 0.8rem;
}

#icon_log {
	color: #000000;
	font-size: 1.5rem;
	justify-content: center;
	align-items: baseline;
}
.brand {
	display: flex;
	align-items: center;
	justify-content: center;
}
.brand_logo {
	font-size: large;
	margin-left: 20px;
}

#check {
	display: none;
}

.menu {
	position: absolute;
	right: 5%;
	font-size: 2.8rem;
	color: #1b1a1a;
	cursor: pointer;
	display: none;
}

/* Pagina Cosntruccion  */

.construccion {
	display: flex;
	justify-content: center;
	align-items: center;
	flex-direction: column;
	height: 100vh;
	width: 100%;
	background-color: #b6aff0;
	color: #fff;
}
.construccion h1 {
	font-size: 10rem;
}

.construccion h2 {
	font-size: 3rem;
}

.construccion a {
	width: 30%;
	height: 40px;
	margin: 20px;
	font-size: 1.5rem;
	color: #fff;
	text-align: center;
	text-decoration: none;
	background-color: #58247667;
	border-radius: 40px;
	border: none;
	cursor: pointer;
	outline: none;
}
.construccion a:hover {
	opacity: 0.9;
	background: #776ecb;
}

/* FOOTER */

.pie {
	background-color: #b6aff0;
	color: #fff;
	/* position: relative; */
}

.contenerdorPie {
	display: flex;
	height: 90px;
	justify-content: space-evenly;
	/* gap: 5rem;  */
	flex-direction: row;
	align-items: center;
}

div.list {
	color: #fff;
}

.item-Txt {
	display: flex;
	justify-content: left;
	align-items: left;
	flex-direction: column;
	font-size: 0.6rem;
	color: #000000;
	text-decoration: none;
	font-weight: 700;
	margin: 10px;
}
.item-Txt:hover {
	color: #fff;
}

.redesSociales {
	display: flex;
	justify-content: space-around;
	gap: 4rem;
	margin: 20px;
}

.social-link {
	font-size: 1.6rem;
	color: #000000;
	text-decoration: none;
	font-weight: 200;
	margin: 0;
}

.contacto {
	display: flex;
	flex-direction: column;
	margin: 0;
	color: #000000;
}
h3.contact_foot {
	font-size: 0.8rem;
	margin: 9px;
}

.formContacto {
	display: flex;
}

.inputContact {
	margin-top: 0;
	height: 30px;
	width: 300px;
	text-align: center;
	background: #ffffff;
	border-radius: 50px;
	border: none;
	color: #000000;
}

.enviar {
	border: none;
	background: transparent;
	color: #000000;
	font-size: 1.6rem;
}
.enviar:hover {
	color: #fff;
}

/* 	COPYRIGHT */

.copyright {
	width: 100%;
	background-color: black;
	backdrop-filter: blur(50px);
	color: #fff;
	font-size: 13px;
	display: flex;
	justify-content: center;
	align-content: center;
}

/* BREAKPOINTS */

@media (max-width: 778px) {
	.logo {
		width: 50px;
		height: 50px;
	}
	.brand {
		display: flex;
		align-items: center;
		justify-content: center;
	}
	.brand_logo {
		font-size: small;
		margin-left: 0;
		font-weight: 700;
	}

	.menu {
		display: inline-flex;
		align-items: center;
		font-size: 1.9rem;
		margin-top: 30px;
	}

	#check:checked ~ .menu #menu-icon {
		display: none;
	}

	#menu-icon {
		display: block;
		margin-left: 15px;
		font-size: 2rem;
	}

	.menu #close-icon {
		display: none;
		margin-left: 10px;
		font-size: 2rem;
	}

	#check:checked ~ .menu #close-icon {
		display: block;
	}

	.navbar {
		position: absolute;
		top: 100%;
		left: 0;
		width: 100%;
		height: 0;
		margin: 0;
		align-items: space-around;
		background-color: rgba(255, 255, 255, 0.452);
		backdrop-filter: blur(50px);
		overflow: hidden;
		transition: 0.5s ease-in-out;
	}

	#check:checked ~ .navbar {
		height: 12rem;
	}

	nav.navbar a {
		display: flex;
		font-size: 1.5rem;
		margin: 20px;
		justify-content: space-around;
		align-items: baseline;
		text-align: center;
		transform: translateY(-50px);
		transition: 0.2s ease;
		opacity: 0;
	}

	#check:checked ~ .navbar a {
		transform: translateY(0);
		opacity: 1;
		transition-delay: calc(0.15s * var(--i));
	}

	#icon_log {
		display: none;
	}

	#menu_log {
		font-size: 1.9rem;
		color: #000000;
	}
	.img_foot {
		display:none;
	}

	.pie {
		background-color: #776ecb;
		backdrop-filter: blur(-50px);
		color: #fff;
		width: 100%;
	}

	.contenerdorPie {
		width: 100%;
	}

	.img_foot {
		display: none;
	}

	.list {
		display: none;
	}
	.redesSociales {
		flex-direction: row;
		flex-grow: 1;
		flex-basis: 200;
		align-items: center;
		margin: 0;
		width: 100%;
		font-size: larger;
		display: flex;
		justify-content: space-evenly;
		gap: 50px;
	}

	.contacto {
		display: none;
	}

	.social-link {
		font-size: 2rem;
		color: #000000;
		text-decoration: none;
		font-weight: 200;
		margin: 0;
	}
	.social-link:hover {
		color: aliceblue;
	}
}
