.fontStyle {
    margin-top: 10%;
    font-size: 0.9rem;
    font-family: Verdana, Geneva, Tahoma, sans-serif;
}

h1 {
    color: white;
    margin: 25%;
}

a{
    color: #8074eb;
}


.landing {
    display: flex;
    margin: 20% 3% 10% 3%;
    padding: 0 0 10% 0;
    border-color: #BBB9B9;
    border-width: 3px;
    border-style: dotted;
    border-radius: 3%;

}

.imgMatch {
    display: flex;
    background-image: url("/img/matchea.jpg");
    background-repeat: no-repeat;
    background-size: 100% 100%;
    position: absolute;
    width: 92%;
    height: 32%;
    border-radius: 5% 5% 0 0;
}

.matchea {
    margin-top: 80%;
    margin-left: 14%;

}

.selectStyle {
 width:250px;
 background-color: white;
 border-radius: 5px;
 border-color: #B6AFF0;
}

.btnSexo {
    display: flex;
    height: 10%;
    margin: 15% 0 0 0;
    text-align: center;
    
}

.btnIzqSex {
    border-top-left-radius: 100px 100px;
    border-bottom-left-radius: 100px 100px;
    background-color: #B6AFF0;
    padding: 1% 10% 1% 29%;
    border-width: 1px;
    border-color: #B6AFF0;
    text-justify: center;
    display: inline-flex;
}

.btnDerSex {
    border-top-right-radius: 100px 100px;
    border-bottom-right-radius: 100px 100px;
    padding: 1% 29% 1% 10%;
    border-width: 1px;
    border-color: #B6AFF0;
    text-justify: center;
    display: inline-flex;
}

.btnEspecie {
    display: inline-flex;
    padding-right: 5%;
}

.btnEsp {
    border-radius: 20%;
    padding: 15%;
    margin: 30% 57% 0 5%;
    border-width: 1px;
    background-color: #B6AFF0;
    justify-content: center;
    border-color: #B6AFF0;
    display: flex;
}

.btnFooter {
    margin-top: 15%;
}

.cardFooter {
    border-radius:100px;
    background-color: #B6AFF0;
    padding: 3%;
    margin: 0 0 5% 30%;
    border-color: #B6AFF0;
    border-width: 1px;
    display: flex;

}

.question {
    padding: 3% 0 10% 13%;
}


@media screen and (max-width: 280px) {
    
    .fontStyle {
        margin-top: 10%;
    }
    
    h1 {
        font-size: 1.8rem;
        margin: 25%;
    }
    
    a{
        color: #8074eb;
    }
    
    
    .landing {
        display: flex;
        margin: 25% 3% 10% 3%;
        padding: 0 0 10% 0;
        border-radius: 3%;
    }

    
    .matchea {
        margin-top: 95%;
        margin-left: 10%;
    
    }
    
    .selectStyle {
     width:200px;
     background-color: white;
     border-radius: 5px;
     border-color: #B6AFF0;
    }

    .btnEspecie {
        display: inline-flex;
        padding-right: 5%;
    }
    
    .btnEsp {
        border-radius: 20%;
        padding: 10%;
        margin: 30% 40% 0 5%;
        border-width: 1px;
        background-color: #B6AFF0;
        justify-content: center;
        border-color: #B6AFF0;
        display: flex;
    }
    
    
    .btnSexo {
        display: flex;
        height: 8%;
        margin-top: 15%;
        text-align: center;
        
    }
    
    .btnIzqSex {
        padding: 1% 19% 1% 19%;
    }
    
    .btnDerSex {
        padding: 1% 19% 1% 19%;
    }
    
    
    .btnFooter {
        margin-top: 15%;
    }
    
    .cardFooter {
        border-radius:100px;
        background-color: #B6AFF0;
        padding: 3%;
        margin: 25% 0 5% 25%;
        border-color: #B6AFF0;
        border-width: 1px;
        display: flex;
    
    }
    
    .question {
        padding: 3% 0 5% 0;
        text-align: center;
    }

}


@media screen and (min-width: 768px) {
   
    h1{
        font-size: 2.5rem;
        margin-left: 20%;
        font-weight: bolder;
    }
    .fontStyle {
        font-size: 1.5rem;
    }
    .selectStyle {
        width:400px;
        height: 35px;
        border-width: 3px;
        border-radius: 10px;
       }
    
    p {
        font-size: 1.5rem;
        margin-bottom: 4%;
    }
    .landing {
        margin: 0;
        padding: 0;
        border: none;
        min-height:1055px;
    }

    .imgMatch {
        width: 100%;
        height: 90%;
        border-radius: none;
        opacity: .95;
    }

    .matchea {
        margin: 37% 0 0 19%;
        display: inline-block;
        padding: 5%;
        height: 15%;
        width: 500px;
        background-color: #BBB9B9;
        border-color: #BBB9B9;
        border-width: 3px;
        border-style: dotted;
        border-radius: 5%;
        opacity: .9;

    }

    .btnEsp {
        height: 80px;
        width: 80px;
        margin: 2% 25% 0 5%;
    }

    .btnSexo {
        display: flex;
        height: 15%;
        margin-top: 15%;
        text-align: center;
        
    }
    
    .btnIzqSex {
        padding: 1% 10% 1% 32%;
    }

    .btnDerSex {
        padding: 1% 32% 1% 10%;
        ;
    }

    .cardFooter {
        padding: 3% 20% 3% 20%;
        margin: 20% 0 2% 13%;
        font-size: 1.2rem;
        font-weight:normal;

    }

    .question {
        padding: 3% 0 10% 14%;
    }

}







@media screen and (min-width: 1280px) {
    h1{
        font-size: 2.5rem;
        margin-left: 20%;
        font-weight: bolder;
    }
    .fontStyle {
        font-size: 1.5rem;
    }
    .selectStyle {
        width:300px;
        height: 30px;
       }
    
    p {
        font-size: 1.5rem;
        margin-bottom: 4%;
    }
    .landing {
        margin: 0;
        padding: 0;
        min-height:800px;
    }

    .imgMatch {
        width: 100%;
        height: 100%;
        border-radius: none;
    }

    .matchea {
        margin: 10% 0 0 57%;
        display: inline-block;
        padding: 3%;
        width: 30%;
        background-color: #BBB9B9;
        border-color: #BBB9B9;
        border-width: 3px;
        border-style: dotted;
        border-radius: 5%;
        opacity: .8;

    }
    .btnEspecie {
        margin-left: 0;
    }

    .btnEsp {
        margin: 10% 12% 0 0;
    }

    .btnIzqSex {
        padding: 1% 21% 1% 21%;
    }

    .btnDerSex {
        padding: 1% 21% 1% 21%;
        ;
    }

    .cardFooter {
        padding: 3% 10% 3% 10%;
        margin: 20% 0 2% 20%;
    }

    .question {
        padding: 3% 0 10% 5%;
    }

}




@media screen and (min-width: 1440px){


}
    